<!DOCTYPE html>
<html>
<head>
	<title>首页</title>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script>
			$(function(){
				$('img[title="comment"]').click(function(){
					var d = new Date()
					
  					$('input[name="time"]').val(d.getTime()/1000);

					$('form[name="myForm"]').submit();
				});
				$('img[class="exit"]').click(function(){
					window.location='http://www.lyb.com/index.php/Leaves/doLogout'
				})
				$('img[class="return"]').click(function(){
					window.location='http://www.lyb.com/index.php/Users/users'
				})
			})
	</script>
</head>
<body>
		<form action="/index.php/Index/set" method="post" name="myForm">

			<label for="title">留言题目</label>
    		<input type="text" name="title" /><br />

    		<label for="content">留言内容</label>
    		<textarea name="content"></textarea><br />
    		<input type="hidden" name="time">
			留&nbsp;言&nbsp;人：<?php echo $username;?><br/>
			<img src="http://www.lyb.com/images/comment.gif" title="comment">
			<img src="http://www.lyb.com/images/return.png" class="return">
			<img src="http://www.lyb.com/images/exit.png" class="exit">
		</form>
		

</body>
</html>